<div class="main-content">

      
 

<!-- HEADER -->
<div class="pt-7 pb-8 bg-dark bg-ellipses">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        
        <!-- Title -->
        <h1 class="display-3 text-center text-white">
          {{client.name}}
        </h1>
        
        <!-- Text -->
        <p class="lead text-center text-muted">
          We have plans and prices that fit your business perfectly. Make your client site a success with our products.
        </p>

      </div>
    </div> <!-- / .row -->
  </div>
</div>

<!-- CONTENT -->
<div class="container-fluid">
  <div class="row mt-n7">
    <div class="col-12 col-lg-4">
      
      <!-- Card -->
      <div class="card">
        <div class="card-body">
          
         <h3>Wordpress Login</h3>

          <!-- Features -->
          <div class="mb-3">
            <ul class="list-group list-group-flush">
            
              <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                <small>Members</small> <small>10 members</small>
              </li>
              <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                <small>Admins</small> <small>No access</small>
              </li>
            </ul>
          </div>

          <!-- Button -->
          <a href="#!" class="btn btn-block btn-primary">
            Edit
          </a>

        </div>
      </div>

    </div>
    <div class="col-12 col-lg-4">
      
      <!-- Card -->
      <div class="card">
        <div class="card-body">
          
         <h3>Wordpress Login</h3>

          <!-- Features -->
          <div class="mb-3">
            <ul class="list-group list-group-flush">
            
              <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                <small>Members</small> <small>10 members</small>
              </li>
              <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                <small>Admins</small> <small>No access</small>
              </li>
            </ul>
          </div>

          <!-- Button -->
          <a href="#!" class="btn btn-block btn-primary">
            Edit
          </a>

        </div>
      </div>

    </div>
    <div class="col-12 col-lg-4">
      
      <!-- Card -->
      <div class="card">
        <div class="card-body">
          
         <h3>Wordpress Login</h3>

          <!-- Features -->
          <div class="mb-3">
            <ul class="list-group list-group-flush">
            
              <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                <small>Members</small> <small>10 members</small>
              </li>
              <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                <small>Admins</small> <small>No access</small>
              </li>
            </ul>
          </div>

          <!-- Button -->
          <a href="#!" class="btn btn-block btn-primary">
            Edit
          </a>

        </div>
      </div>
    </div>
  </div> <!-- / .row -->
  
</div>

</div>